@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Open+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}